@charset "UTF-8";

@font-face{
font-family:'DNFBitBitv2';
font-style:normal;font-weight:700;src:url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')}

@font-face{
font-family: LaundryGothicBold;
font-style:normal;font-weight:700;
src:local('LaundryGothicBold.ttf'),
	url('/gallery/resources/css/fonts/LaundryGothicBold.ttf') format('ttf')
}

@font-face {
    font-family: 'LOTTERIACHAB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2')format('woff2');
    font-weight: normal;
    font-style: normal;
}

h3 {
	font-family: DNFBitBitv2;
}

.nav > .nav-item > .nav-link {
	font-family: DNFBitBitv2;
}
