@charset "UTF-8";
/* 페이징 처리 CSS */
.page-navigation {
	clear: both;
	padding: 20px 0;
	text-align: center;
	font-weight: bold;
}
.page-navigation ul {
    display: flex;
    flex-direction: row;
    padding: 0;
}
.page-navigation li {
    list-style-type: none;
}